/*
@import "~bootstrap/scss/bootstrap-utilities";

$form-floating-input-padding-t:   1rem;
$form-floating-input-padding-b:   1rem;
$form-floating-height:            add(2.5rem, $input-height-border);
*/

$enable-caret: false;
$navbar-dark-color:       #ededed;
$navbar-dark-hover-color: #ededed;
$navbar-dark-disabled-color: #ededed;
$tooltip-bg: white;
$tooltip-color: black;

@import "~bootstrap/scss/bootstrap";

html, body {
  background-color: #0a0a0a;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disabled {
  cursor: not-allowed !important;
  * {
    opacity: .55;
  }
}

.text-justify {
  text-align: justify;
}