/*@import "~bootstrap/scss/bootstrap-utilities";

$form-floating-input-padding-t:   1rem;
$form-floating-input-padding-b:   1rem;
$form-floating-height:            add(2.5rem, $input-height-border);

@import "~bootstrap/scss/bootstrap";
*/

html, body {
  background-color: #0a0a0a;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TODO: redefine in bootstrap variables */
.algorithmParameter {
  color: white;
  background-color: transparent;

  &:hover, &:focus, &:active {
    color: white;
    background-color: transparent;
  }
}

/* TODO (enhancement): custom scrollbar */